ul#menu li {
    font-size: 1.1em;
    display:inline;
    position: relative;
    color: #f8f9fa;
    text-decoration: none;
    margin-left: 40px;

}

nav {
    text-align: right;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
.heading{
    text-align: center;
}
.heading a {
    background-color: #1d0fe6;
    border: none; 
    color: white; 
    padding: 3px 25px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 10px;
    cursor: pointer; 
    border-radius: 5px;

}
.center{
    text-align: center;
}
.padding{
    
}

  